@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

body {
    overflow-x: hidden;
    font-family: 'Lato', sans-serif;
    color: blue;
}

td {
    text-align: center;
    padding: .2rem;
    border-color: black;
    border-style: solid;
    border-width: thin;
}

.tableHeading {
    text-align: center;
    padding: .2rem;
    border-color: black;
    border-style: solid;
    border-width: thin;
}

#navImg {
    width: 200px;
}

.mapIcons {
    font-size: 50px;
}

#CountryInfoModalHeader {
    background-color: red;
}

#CountryInfoModalTitle {
    color: white;
}

#countryInfoClose {
    opacity: 1;
    color: white;
    font-size: 2rem;
}

#countryBtn {
    background-color: red;
    font-weight: 700;
}

#CountryMoreInfoModalHeader {
    background-color: purple;
}

#CountryMoreInfoModalTitle {
    color: white;
}

#countryMoreInfoClose {
    opacity: 1;
    color: white;
    font-size: 2rem;
}

#country2Btn {
    background-color: purple;
    font-weight: 700;
}

#WIKIModalHeader {
    background-color: black;
}

#WIKIModalTitle {
    color: white;
}

#WIKIClose {
    opacity: 1;
    color: white;
    font-size: 2rem;
}

#WIKIBtn {
    background-color: black;
    font-weight: 700;
}

#WeatherModalHeader {
    background-color: blue;
}

#WeatherModalTitle {
    color: white;
}

#weatherBtn {
    background-color: blue;
    font-weight: 700;
}

#weatherClose {
    opacity: 1;
    color: white;
    font-size: 2rem;
}

#weather-modal-content {
  background-size: cover;
  background-image: url("../img/weatherModalImg.jpg");
}

#weatherTable2, #countryInfoTable {
    margin-left: auto;
    margin-right: auto;
}

#WIKITable {
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border-color: black;
    border-style: solid;
    border-width: medium;
}

#WIKITable td {
    padding: 10px;
    color: black;
    font-weight: 700;
    border-color: black;
    border-style: none;
}

#weatherTable {
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border-color: black;
    border-style: solid;
    border-width: medium;
}

#weatherTable2 {
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}

#weatherTable td {
    padding: 10px;
    color: black;
    font-weight: 700;
    border-color: black;
    border-style: none;
}

#weatherTable2 td {
    padding: 10px;
    color: black;
    font-weight: 700;
    border-color: black;
    border-style: solid;
    border-width: medium;
}

#selCurrency {
    font-weight: 700;
}

#CurrencyTable {
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border-color: black;
    border-style: solid;
    border-width: medium;
}

#CurrencyTable2 {
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}

#CurrencyTable td {
    padding: 10px;
    color: black;
    font-weight: 700;
    border-color: black;
    border-style: solid;
    border-width: medium;
}

#CurrencyTable2 td {
    padding: 10px;
    color: black;
    font-weight: 700;
    border-color: black;
    border-style: solid;
    border-width: medium;
}

#WIKI-modal-content {
  background-size: cover;
  background-image: url("../img/WIKIImg.jpg");
}

#currency-modal-content {
  background-size: cover;
  background-image: url("../img/currencyModalImg.jpg");
}

#CurrencyModalHeader {
    background-color: darkgreen;
}

#currency-modal-title{
    color:white;
}

#currencyBtn {
    background-color: darkgreen;
    font-weight: 700;
}

#currencyClose {
    opacity: 1;
    color: white;
    font-size: 2rem;
}

.currencyOption {
    font-weight: bold;
    text-align: center;
}
 
#mainTable {
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 90%;
    margin-left: 5%;
}

#wikiTable {
    width: 75%;
    margin-left: 12.5%;
    margin-bottom: 2rem;
}

#postcodeTable {
    width: 75%;
    margin-left: 12.5%;
    margin-bottom: 2rem;
}

#typePostcode {
    width: 90px;
}

.latlonmaps {
    width: 100%; 
    height: 100vh;
}

.tableDescription {
    font-size: .7rem;
}

.navbar {
    text-transform: uppercase;
    font-weight: 700;
    font-size: .9rem;
    letter-spacing: .1rem;
    background-color: rgba(0,0,0,0.6)!important;
}

.narbar-brand img {
    height: 20px;
}

.navbar-nav li {
    padding-right: .7rem;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
    padding-top: .8rem;
}


.navbar-dark .navbar-nav .nav-link.active {
    color: #009dff;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #59bfff;
}


.navbar-toggler ion-icon {
    color: white;
    font-size: 2rem;
}

.navbar-toggler ion-icon:hover {
    color: #59bfff;
}

.navbar-toggler {
    border: none;
}

.nav-link ion-icon {
    margin-bottom: -4px;
    padding-right: 0.5rem;
    font-size: 1.2rem;
}

#countryModalImage {
    width: 100%;
}

#countryAddress {
    text-align: center;
}

#addressPin {
    font-size: 1.5rem;
    color: darkblue;
    margin-bottom: -.25rem;
}

#map {
    margin-top: .navbar.height;
    position: absolute; 
    top: 0; 
    right: 0; 
    bottom: 0; 
    left: 0; 
}